# Introduction

On va étudier un jeu de données contenant différentes infos autour des retards d'avion aux Etats-Unis en mai 2006. On utilise principalement pandas qui est un module Python dédié à la manipulation de données de grandes dimensions : https://pandas.pydata.org/pandas-docs/stable/ (la doc est votre amie !)

# Import du module

In [1]:
import pandas as pd

# Lecture des données
La méthode read_csv permet d'importer les données depuis un fichier csv. L'option index_col=0 indique que la première colonne du fichier sera l'index de notre DataFrame, et non une colonne comme les autres. Le DataFrame est la structure de données principale du module pandas : https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [6]:
df = pd.read_csv("datas.csv", index_col=0)

# Aperçu du tableau
Les méthodes head et tail permettent respectivement de visualiser les n premières et dernières lignes d'un DataFrame. Par défaut, n vaut 5 mais on peut choisir le nombre de lignes que l'on veut afficher

In [7]:
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,2006,5,8,1,705.0,700,917.0,915,US,560,...,6,9,0,NaN,0,0,0,0,0,0
Vol_1,2006,5,10,3,705.0,700,920.0,915,US,560,...,5,10,0,NaN,0,0,0,0,0,0
Vol_2,2006,5,12,5,700.0,700,922.0,915,US,560,...,8,11,0,NaN,0,0,0,0,0,0
Vol_3,2006,5,14,7,700.0,700,910.0,915,US,560,...,5,5,0,NaN,0,0,0,0,0,0
Vol_4,2006,5,16,2,724.0,700,921.0,915,US,560,...,3,9,0,NaN,0,0,0,0,0,0
Vol_5,2006,5,18,4,658.0,700,909.0,915,US,560,...,6,12,0,NaN,0,0,0,0,0,0
Vol_6,2006,5,20,6,657.0,700,908.0,915,US,560,...,3,11,0,NaN,0,0,0,0,0,0
Vol_7,2006,5,22,1,653.0,700,904.0,915,US,560,...,3,9,0,NaN,0,0,0,0,0,0
Vol_8,2006,5,24,3,658.0,700,914.0,915,US,560,...,4,9,0,NaN,0,0,0,0,0,0
Vol_9,2006,5,26,5,800.0,700,1017.0,915,US,560,...,9,11,0,NaN,0,60,0,2,0,0

In [8]:
df.tail(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_301450,2006,5,31,3,1922.0,1858,2151.0,2122,DL,371,...,7,12,0,NaN,0,24,0,5,0,0
Vol_301451,2006,5,31,3,1501.0,1504,1841.0,1826,DL,373,...,7,40,0,NaN,0,0,0,15,0,0
Vol_301452,2006,5,31,3,1851.0,1850,2024.0,2033,DL,376,...,6,18,0,NaN,0,0,0,0,0,0
Vol_301453,2006,5,31,3,640.0,645,1408.0,1400,DL,378,...,8,41,0,NaN,0,0,0,0,0,0
Vol_301454,2006,5,31,3,1151.0,1020,1833.0,1710,DL,379,...,11,16,0,NaN,0,83,0,0,0,0
Vol_301455,2006,5,31,3,1838.0,1842,1943.0,1945,DL,384,...,12,16,0,NaN,0,0,0,0,0,0
Vol_301456,2006,5,31,3,640.0,645,1307.0,1318,DL,385,...,5,13,0,NaN,0,0,0,0,0,0
Vol_301457,2006,5,31,3,1222.0,1155,1422.0,1345,DL,387,...,11,24,0,NaN,0,27,0,10,0,0
Vol_301458,2006,5,31,3,1830.0,1800,2057.0,2037,DL,389,...,9,25,0,NaN,0,0,0,17,0,3
Vol_301459,2006,5,31,3,1615.0,1615,1755.0,1804,DL,392,...,6,14,0,NaN,0,0,0,0,0,0

# Première infos statistiques
la méthode describe donne de premières infos de statistiques descriptives par colonne

In [9]:
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,301460.0,301460.0,301460.000000,301460.000000,297914.000000,301460.000000,297324.000000,301460.000000,301460.000000,297324.000000,...,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000
mean,2006.0,5.0,15.928073,3.743601,1338.087599,1330.788725,1486.539930,1494.931002,2207.965889,125.134967,...,730.104979,6.797406,15.426965,0.011763,0.001957,2.879888,0.541531,3.194497,0.014264,4.011441
std,0.0,0.0,8.946855,1.985304,473.382507,460.417894,496.297795,476.034379,2025.136577,71.050381,...,577.823534,29.621836,10.887856,0.107817,0.044196,17.168730,7.330082,14.445620,0.799616,18.106906
min,2006.0,5.0,1.000000,1.000000,1.000000,10.000000,1.000000,1.000000,1.000000,16.000000,...,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2006.0,5.0,8.000000,2.000000,930.000000,930.000000,1109.000000,1115.000000,576.000000,74.000000,...,316.000000,4.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2006.0,5.0,16.000000,4.000000,1327.000000,1323.000000,1516.000000,1520.000000,1476.000000,106.000000,...,576.000000,5.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2006.0,5.0,24.000000,5.000000,1730.000000,1720.000000,1909.000000,1905.000000,3640.000000,155.000000,...,957.000000,7.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2006.0,5.0,31.000000,7.000000,2431.000000,2359.000000,2550.000000,2359.000000,9501.000000,1511.000000,...,4962.000000,1467.000000,292.000000,1.000000,1.000000,1064.000000,646.000000,495.000000,179.000000,515.000000

# Liste des colonnes
l'attribut columns permet de récupérer la liste des colonnes d'un DataFrame

In [10]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

# Dimensions du tableau
l'attribut shape permet de récupérer les dimensions du tableau. La première valeur est lenombre de lignes, la seonde le nombre de colonnes (c'est un tuple, cf cours précédent)

In [11]:
df.shape

(301460, 29)

# Exercice
Cherchez dans la doc l'attribut qui permet d'accéder à l'index du DataFrame

In [12]:
df.index

Index(['Vol_0', 'Vol_1', 'Vol_2', 'Vol_3', 'Vol_4', 'Vol_5', 'Vol_6', 'Vol_7',
       'Vol_8', 'Vol_9',
       ...
       'Vol_301450', 'Vol_301451', 'Vol_301452', 'Vol_301453', 'Vol_301454',
       'Vol_301455', 'Vol_301456', 'Vol_301457', 'Vol_301458', 'Vol_301459'],
      dtype='object', length=301460)

# Exercice
Cherchez dans la doc la méthode qui permet de compter le nombre de valeurs présentes par colonne

In [15]:
df.count()

Year                 301460
Month                301460
DayofMonth           301460
DayOfWeek            301460
DepTime              297914
CRSDepTime           301460
ArrTime              297324
CRSArrTime           301460
UniqueCarrier        301460
FlightNum            301460
TailNum              301460
ActualElapsedTime    297324
CRSElapsedTime       301460
AirTime              297324
ArrDelay             297324
DepDelay             297914
Origin               301460
Dest                 301460
Distance             301460
TaxiIn               301460
TaxiOut              301460
Cancelled            301460
CancellationCode       3546
Diverted             301460
CarrierDelay         301460
WeatherDelay         301460
NASDelay             301460
SecurityDelay        301460
LateAircraftDelay    301460
dtype: int64

# Accéder à une colonne
On cherche ici à accéder aux données de la colonne UniqueCarrier en particulier. On crée donc la variable carrier qui va contenir ses informations. La variable carrier sera soit une Series soit un DataFrame selon la méthode utilisée. La Series est une structure de données à une dimension, différente du DataFrame : http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html même si beaucoups d'attributs et de méthodes sont identiques

### par son nom

##### méthode 1

In [16]:
carrier = df.loc[:, 'UniqueCarrier']
print(carrier.head())
print('')
print(type(carrier))

Vol_0    US
Vol_1    US
Vol_2    US
Vol_3    US
Vol_4    US
Name: UniqueCarrier, dtype: object

<class 'pandas.core.series.Series'>

##### méthode 2

In [17]:
carrier = df.UniqueCarrier
print(carrier.head())
print('')
print(type(carrier))

Vol_0    US
Vol_1    US
Vol_2    US
Vol_3    US
Vol_4    US
Name: UniqueCarrier, dtype: object

<class 'pandas.core.series.Series'>

##### méthode 3

In [18]:
carrier = df.loc[:, ['UniqueCarrier']]
print(carrier.head())
print('')
print(type(carrier))

      UniqueCarrier
Vol_0            US
Vol_1            US
Vol_2            US
Vol_3            US
Vol_4            US

<class 'pandas.core.frame.DataFrame'>

##### méthode 4

In [19]:
carrier = df[['UniqueCarrier']]
print(carrier.head())
print('')
print(type(carrier))

      UniqueCarrier
Vol_0            US
Vol_1            US
Vol_2            US
Vol_3            US
Vol_4            US

<class 'pandas.core.frame.DataFrame'>

### par sa position dans la liste des colonnes

##### méthode 1

In [20]:
carrier = df.iloc[:, 8]
print(carrier.head())
print('')
print(type(carrier))

Vol_0    US
Vol_1    US
Vol_2    US
Vol_3    US
Vol_4    US
Name: UniqueCarrier, dtype: object

<class 'pandas.core.series.Series'>

##### méthode 2

In [21]:
carrier = df.iloc[:, [8]]
print(carrier.head())
print('')
print(type(carrier))

      UniqueCarrier
Vol_0            US
Vol_1            US
Vol_2            US
Vol_3            US
Vol_4            US

<class 'pandas.core.frame.DataFrame'>

# Accéder à un ensemble de colonnes
On peut également accéder à un ensemble de colonnes parmi celles du DataFrame d'origine

### Exercice : créer un DataFrame contenant les informations UniqueCarrier, DepTime et ArrTime

In [22]:
df[['UniqueCarrier', 'DepTime', 'ArrTime']].head()

      UniqueCarrier  DepTime  ArrTime
Vol_0            US    705.0    917.0
Vol_1            US    705.0    920.0
Vol_2            US    700.0    922.0
Vol_3            US    700.0    910.0
Vol_4            US    724.0    921.0

In [23]:
df.loc[:, ['UniqueCarrier', 'DepTime', 'ArrTime']].head()

      UniqueCarrier  DepTime  ArrTime
Vol_0            US    705.0    917.0
Vol_1            US    705.0    920.0
Vol_2            US    700.0    922.0
Vol_3            US    700.0    910.0
Vol_4            US    724.0    921.0

### Exercice : créer un autre DataFrame contenant les informations CRSDepTime et CRSArrTime

In [25]:
df.iloc[:, [8, 4, 6]].head()

      UniqueCarrier  DepTime  ArrTime
Vol_0            US    705.0    917.0
Vol_1            US    705.0    920.0
Vol_2            US    700.0    922.0
Vol_3            US    700.0    910.0
Vol_4            US    724.0    921.0

# Accéder à une ligne
De la même manière, on peut également accéder aux lignes que l'on souhaite

### par son nom

In [26]:
df.loc['Vol_0']

Year                   2006
Month                     5
DayofMonth                8
DayOfWeek                 1
DepTime                 705
CRSDepTime              700
ArrTime                 917
CRSArrTime              915
UniqueCarrier            US
FlightNum               560
TailNum              N405US
ActualElapsedTime       132
CRSElapsedTime          135
AirTime                 117
ArrDelay                  2
DepDelay                  5
Origin                  PBI
Dest                    DCA
Distance                857
TaxiIn                    6
TaxiOut                   9
Cancelled                 0
CancellationCode        NaN
Diverted                  0
CarrierDelay              0
WeatherDelay              0
NASDelay                  0
SecurityDelay             0
LateAircraftDelay         0
Name: Vol_0, dtype: object

### par sa position dans la liste

In [27]:
df.iloc[0]

Year                   2006
Month                     5
DayofMonth                8
DayOfWeek                 1
DepTime                 705
CRSDepTime              700
ArrTime                 917
CRSArrTime              915
UniqueCarrier            US
FlightNum               560
TailNum              N405US
ActualElapsedTime       132
CRSElapsedTime          135
AirTime                 117
ArrDelay                  2
DepDelay                  5
Origin                  PBI
Dest                    DCA
Distance                857
TaxiIn                    6
TaxiOut                   9
Cancelled                 0
CancellationCode        NaN
Diverted                  0
CarrierDelay              0
WeatherDelay              0
NASDelay                  0
SecurityDelay             0
LateAircraftDelay         0
Name: Vol_0, dtype: object

# Accéder à un ensemble de lignes

### par leurs noms

In [28]:
df.loc[['Vol_0', 'Vol_1', 'Vol_2']]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,2006,5,8,1,705.0,700,917.0,915,US,560,...,6,9,0,NaN,0,0,0,0,0,0
Vol_1,2006,5,10,3,705.0,700,920.0,915,US,560,...,5,10,0,NaN,0,0,0,0,0,0
Vol_2,2006,5,12,5,700.0,700,922.0,915,US,560,...,8,11,0,NaN,0,0,0,0,0,0

### par leurs positions

In [29]:
df.iloc[[0, 1, 2]]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,2006,5,8,1,705.0,700,917.0,915,US,560,...,6,9,0,NaN,0,0,0,0,0,0
Vol_1,2006,5,10,3,705.0,700,920.0,915,US,560,...,5,10,0,NaN,0,0,0,0,0,0
Vol_2,2006,5,12,5,700.0,700,922.0,915,US,560,...,8,11,0,NaN,0,0,0,0,0,0

### Afficher les 100 premières lignes

In [34]:
df.iloc[:100].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,2006,5,8,1,705.0,700,917.0,915,US,560,...,6,9,0,NaN,0,0,0,0,0,0
Vol_1,2006,5,10,3,705.0,700,920.0,915,US,560,...,5,10,0,NaN,0,0,0,0,0,0
Vol_2,2006,5,12,5,700.0,700,922.0,915,US,560,...,8,11,0,NaN,0,0,0,0,0,0
Vol_3,2006,5,14,7,700.0,700,910.0,915,US,560,...,5,5,0,NaN,0,0,0,0,0,0
Vol_4,2006,5,16,2,724.0,700,921.0,915,US,560,...,3,9,0,NaN,0,0,0,0,0,0

### Afficher les  dernières lignes

In [40]:
df.iloc[-1:-100:-1].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_301459,2006,5,31,3,1615.0,1615,1755.0,1804,DL,392,...,6,14,0,NaN,0,0,0,0,0,0
Vol_301458,2006,5,31,3,1830.0,1800,2057.0,2037,DL,389,...,9,25,0,NaN,0,0,0,17,0,3
Vol_301457,2006,5,31,3,1222.0,1155,1422.0,1345,DL,387,...,11,24,0,NaN,0,27,0,10,0,0
Vol_301456,2006,5,31,3,640.0,645,1307.0,1318,DL,385,...,5,13,0,NaN,0,0,0,0,0,0
Vol_301455,2006,5,31,3,1838.0,1842,1943.0,1945,DL,384,...,12,16,0,NaN,0,0,0,0,0,0

### Exercice : afficher les lignes 100 à 200

In [41]:
df.iloc[100:200].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_100,2006,5,28,7,1242.0,1245,1354.0,1357,US,775,...,11,10,0,NaN,0,0,0,0,0,0
Vol_101,2006,5,30,2,1259.0,1245,1413.0,1357,US,775,...,4,16,0,NaN,0,0,0,2,0,14
Vol_102,2006,5,7,7,2156.0,2140,2313.0,2256,US,790,...,3,20,0,NaN,0,16,0,1,0,0
Vol_103,2006,5,21,7,2149.0,2140,2256.0,2256,US,790,...,2,15,0,NaN,0,0,0,0,0,0
Vol_104,2006,5,8,1,1957.0,1800,2151.0,2004,US,855,...,3,8,0,NaN,0,0,0,0,0,107

### Exercice : afficher une ligne sur deux

In [43]:
df.iloc[::2].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,2006,5,8,1,705.0,700,917.0,915,US,560,...,6,9,0,NaN,0,0,0,0,0,0
Vol_2,2006,5,12,5,700.0,700,922.0,915,US,560,...,8,11,0,NaN,0,0,0,0,0,0
Vol_4,2006,5,16,2,724.0,700,921.0,915,US,560,...,3,9,0,NaN,0,0,0,0,0,0
Vol_6,2006,5,20,6,657.0,700,908.0,915,US,560,...,3,11,0,NaN,0,0,0,0,0,0
Vol_8,2006,5,24,3,658.0,700,914.0,915,US,560,...,4,9,0,NaN,0,0,0,0,0,0

# Accéder à un ensemble de lignes et colonnes

### par leurs noms

In [44]:
df.loc[['Vol_0', 'Vol_1'], ['UniqueCarrier', 'Distance']]

      UniqueCarrier  Distance
Vol_0            US       857
Vol_1            US       857

### par leurs positions dans la liste

In [45]:
df.iloc[[0, 1], [6, 16]]

       ArrTime Origin
Vol_0    917.0    PBI
Vol_1    920.0    PBI

In [46]:
df.iloc[[0, 1]].loc[:, ['UniqueCarrier', 'Distance']]

      UniqueCarrier  Distance
Vol_0            US       857
Vol_1            US       857

# Premières statistiques sur les colonnes

### Moyenne de la distance parcourue

In [47]:
df.Distance.mean()

730.104979101705

### Exercice : Trouver comment obtenir : l'écart-type de la distance parcourue

In [48]:
df.Distance.std()

577.8235339951216

### Exercice : Trouver comment obtenir le quantile à 5% de la distance parcourue

In [51]:
df.Distance.quantile(0.05)

142.0

# Extraction conditionnelle

### exemple 1

In [56]:
df.UniqueCarrier.value_counts()

WN    46073
AA    27652
MQ    23783
OO    23200
UA    21357
US    21269
DL    20913
XE    18780
NW    18276
CO    12975
YV    12339
EV    11905
OH    11706
FL     9945
AS     6758
B6     6019
F9     3848
HA     2066
AQ     1826
TZ      770
Name: UniqueCarrier, dtype: int64

In [52]:
df.UniqueCarrier == 'AA'

Vol_0         False
Vol_1         False
Vol_2         False
Vol_3         False
Vol_4         False
              ...
Vol_301455    False
Vol_301456    False
Vol_301457    False
Vol_301458    False
Vol_301459    False
Name: UniqueCarrier, Length: 301460, dtype: bool

In [53]:
extrait = df[df.UniqueCarrier == 'AA']
print(extrait.head())

            Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  \
Vol_225980  2006      5           2          2    853.0         900   1156.0
Vol_225981  2006      5           4          4   1146.0         900   1444.0
Vol_225982  2006      5           6          6    853.0         900   1208.0
Vol_225983  2006      5           8          1    852.0         900   1144.0
Vol_225984  2006      5          10          3    852.0         900   1152.0

            CRSArrTime UniqueCarrier  FlightNum  ... TaxiIn  TaxiOut  \
Vol_225980        1201            AA          1  ...      7       29
Vol_225981        1201            AA          1  ...      3       13
Vol_225982        1201            AA          1  ...      9       26
Vol_225983        1201            AA          1  ...      8       23
Vol_225984        1201            AA          1  ...      5       18

            Cancelled  CancellationCode  Diverted  CarrierDelay WeatherDelay  \
Vol_225980          0               NaN         0             0            0
Vol_225981          0               NaN         0           163            0
Vol_225982          0               NaN         0             0            0
Vol_225983          0               NaN         0             0            0
Vol_225984          0               NaN         0             0            0

           NASDelay  SecurityDelay  LateAircraftDelay
Vol_225980        0              0                  0
Vol_225981        0              0                  0
Vol_225982        0              0                  0
Vol_225983        0              0                  0
Vol_225984        0              0                  0

[5 rows x 29 columns]

In [54]:
print(extrait.shape)

(27652, 29)

In [55]:
print(extrait.UniqueCarrier.value_counts())

AA    27652
Name: UniqueCarrier, dtype: int64

### exemple 2

In [57]:
extrait = df[df.CarrierDelay > 10]
print(extrait.head())

         Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  \
Vol_9    2006      5          26          5    800.0         700   1017.0
Vol_19   2006      5          15          1   1710.0        1635   1919.0
Vol_26   2006      5          29          1   1653.0        1635   1909.0
Vol_41   2006      5           1          1   1222.0        1145   1432.0
Vol_102  2006      5           7          7   2156.0        2140   2313.0

         CRSArrTime UniqueCarrier  FlightNum  ... TaxiIn  TaxiOut  Cancelled  \
Vol_9           915            US        560  ...      9       11          0
Vol_19         1843            US        566  ...      5       11          0
Vol_26         1843            US        566  ...      5       12          0
Vol_41         1402            US        696  ...      5        9          0
Vol_102        2256            US        790  ...      3       20          0

         CancellationCode  Diverted  CarrierDelay WeatherDelay NASDelay  \
Vol_9                 NaN         0            60            0        2
Vol_19                NaN         0            28            0        1
Vol_26                NaN         0            18            0        8
Vol_41                NaN         0            11            0        0
Vol_102               NaN         0            16            0        1

         SecurityDelay  LateAircraftDelay
Vol_9                0                  0
Vol_19               0                  7
Vol_26               0                  0
Vol_41               0                 19
Vol_102              0                  0

[5 rows x 29 columns]

In [58]:
print(extrait.shape)

(18551, 29)

In [59]:
print(extrait.CarrierDelay.describe())

count    18551.000000
mean        44.181769
std         54.353875
min         11.000000
25%         17.000000
50%         27.000000
75%         50.000000
max       1064.000000
Name: CarrierDelay, dtype: float64

### Exercice : chercher comment combiner les 2 conditions précedentes

In [67]:
extrait = df[(df.UniqueCarrier == 'AA') & (df.CarrierDelay > 10)]

In [68]:
extrait.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_225981,2006,5,4,4,1146.0,900,1444.0,1201,AA,1,...,3,13,0,NaN,0,163,0,0,0,0
Vol_225995,2006,5,2,2,947.0,930,1809.0,1752,AA,2,...,6,23,0,NaN,0,17,0,0,0,0
Vol_226003,2006,5,18,4,950.0,930,1830.0,1752,AA,2,...,17,11,0,NaN,0,20,0,18,0,0
Vol_226005,2006,5,22,1,1026.0,930,1832.0,1752,AA,2,...,7,20,0,NaN,0,40,0,0,0,0
Vol_226010,2006,5,1,1,1240.0,1200,1514.0,1453,AA,3,...,4,17,0,NaN,0,21,0,0,0,0

In [64]:
extrait.shape

(1740, 29)

In [65]:
extrait.CarrierDelay.describe()

count    1740.000000
mean       49.889080
std        65.198188
min        11.000000
25%        17.000000
50%        28.000000
75%        55.000000
max       788.000000
Name: CarrierDelay, dtype: float64

In [66]:
extrait.UniqueCarrier.value_counts()

AA    1740
Name: UniqueCarrier, dtype: int64

### Exercice : extraire le DataFrame des vols ayant parcouru une distance supérieure à la distance moyenne

In [69]:
df[df.Distance > df.Distance.mean()]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,2006,5,8,1,705.0,700,917.0,915,US,560,...,6,9,0,NaN,0,0,0,0,0,0
Vol_1,2006,5,10,3,705.0,700,920.0,915,US,560,...,5,10,0,NaN,0,0,0,0,0,0
Vol_2,2006,5,12,5,700.0,700,922.0,915,US,560,...,8,11,0,NaN,0,0,0,0,0,0
Vol_3,2006,5,14,7,700.0,700,910.0,915,US,560,...,5,5,0,NaN,0,0,0,0,0,0
Vol_4,2006,5,16,2,724.0,700,921.0,915,US,560,...,3,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vol_301452,2006,5,31,3,1851.0,1850,2024.0,2033,DL,376,...,6,18,0,NaN,0,0,0,0,0,0
Vol_301453,2006,5,31,3,640.0,645,1408.0,1400,DL,378,...,8,41,0,NaN,0,0,0,0,0,0
Vol_301454,2006,5,31,3,1151.0,1020,1833.0,1710,DL,379,...,11,16,0,NaN,0,83,0,0,0,0
Vol_301456,2006,5,31,3,640.0,645,1307.0,1318,DL,385,...,5,13,0,NaN,0,0,0,0,0,0
Vol_301458,2006,5,31,3,1830.0,1800,2057.0,2037,DL,389,...,9,25,0,NaN,0,0,0,17,0,3

# Exercice final : extraire le dataframe des vols dont la distance est comprise entre la distance moyenne - 3xl'écart-type de distance et la distance moyenne + 3xl'écart-type de distance

In [72]:
df[(df.Distance > df.Distance.mean() - 3*df.Distance.std()) & (df.Distance < df.Distance.mean() + 3*df.Distance.std())]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,2006,5,8,1,705.0,700,917.0,915,US,560,...,6,9,0,NaN,0,0,0,0,0,0
Vol_1,2006,5,10,3,705.0,700,920.0,915,US,560,...,5,10,0,NaN,0,0,0,0,0,0
Vol_2,2006,5,12,5,700.0,700,922.0,915,US,560,...,8,11,0,NaN,0,0,0,0,0,0
Vol_3,2006,5,14,7,700.0,700,910.0,915,US,560,...,5,5,0,NaN,0,0,0,0,0,0
Vol_4,2006,5,16,2,724.0,700,921.0,915,US,560,...,3,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vol_301455,2006,5,31,3,1838.0,1842,1943.0,1945,DL,384,...,12,16,0,NaN,0,0,0,0,0,0
Vol_301456,2006,5,31,3,640.0,645,1307.0,1318,DL,385,...,5,13,0,NaN,0,0,0,0,0,0
Vol_301457,2006,5,31,3,1222.0,1155,1422.0,1345,DL,387,...,11,24,0,NaN,0,27,0,10,0,0
Vol_301458,2006,5,31,3,1830.0,1800,2057.0,2037,DL,389,...,9,25,0,NaN,0,0,0,17,0,3
Vol_301459,2006,5,31,3,1615.0,1615,1755.0,1804,DL,392,...,6,14,0,NaN,0,0,0,0,0,0

In [71]:
df[~df.CancellationCode.isna()]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_74,2006,5,12,5,NaN,615,NaN,738,US,720,...,0,0,1,B,0,0,0,0,0,0
Vol_288,2006,5,12,5,NaN,630,NaN,736,US,1159,...,0,0,1,B,0,0,0,0,0,0
Vol_326,2006,5,30,2,NaN,1710,NaN,1842,US,1189,...,0,0,1,A,0,0,0,0,0,0
Vol_483,2006,5,8,1,NaN,1245,NaN,1417,US,2035,...,0,0,1,A,0,0,0,0,0,0
Vol_554,2006,5,9,2,NaN,1745,NaN,1922,US,2045,...,0,0,1,C,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vol_301097,2006,5,30,2,NaN,2242,NaN,2321,DL,1177,...,0,0,1,A,0,0,0,0,0,0
Vol_301410,2006,5,30,2,NaN,2030,NaN,2135,DL,1935,...,0,0,1,A,0,0,0,0,0,0
Vol_301421,2006,5,30,2,NaN,1630,NaN,1738,DL,1960,...,0,0,1,A,0,0,0,0,0,0
Vol_301423,2006,5,30,2,NaN,1830,NaN,1941,DL,1964,...,0,0,1,C,0,0,0,0,0,0
Vol_301432,2006,5,31,3,NaN,900,NaN,1137,DL,271,...,0,0,1,A,0,0,0,0,0,0