# Préparation à l'examen de python pour l'analyse de données

### Le but est de vous faire manipuler python et pandas sur un jeu de données fourni. Les différentes questions nécessitent d'utiliser des attributs et des méthodes de DataFrame que vous n'avez pas vu en cours. A vous de chercher dans la doc ou sur internet comment réaliser certaines étapes.
### On va s'intéresser au cas d'une élection pour laquelle cinq candidats sont présents. Chaque votant attribue un score entre 0 et 10 à chaque candidat. On va alors tester différents modes de scrutin et voir leur influence sur le vainqueur des élections

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Q0 : importez le fichier votes.csv dans un DataFrame et affichez les 5 premières lignes

In [20]:
votes = pd.read_csv('votes.csv', index_col=0)

In [21]:
votes.head()

          candidat_1  candidat_2  candidat_3  candidat_4  candidat_5
votant_0           2           8           4           9           1
votant_1           5           4           1           2           9
votant_2           8           1           7           0           6
votant_3           8           4           7           2           1
votant_4           5           7           8           0           4

### Q1 : créez une fonction appelée n_votants qui prend en paramètre le DataFrame des votes, et retourne le nombre de votants

In [22]:
def n_votants(df):
    """
    Retourne le nombre de votants
    
    Parameters:
    df (DataFrame): DataFrame des votes
    
    Returns:
    int: nombre de votants
    """
    
    return len(df)

In [23]:
n_votants(votes)

1000

### Q2 : La première méthode de scrutin que l'on va étudier est une simple somme des scores. Pour chaque candidat, on fait la somme des scores attribués par chaque votant et le vainqueur est le candidat obtenant le score le plus haut. Indice : pensez à utiliser la méthode idxmax
### Créez une fonction appliquant ce mode de scrutin

In [26]:
def somme_score(df):
    """
    Retourne le vainqueur du scrutin par somme des scores
    
    Parameters:
    df (DataFrame): DataFrame des votes
    
    Returns:
    string: vainqueur du scrutin
    """
    
    vainqueur = df.sum().idxmax()
    
    return vainqueur

In [27]:
somme_score(votes)

'candidat_3'

### Q3 : On s'intéresse maintenant au scrutin uninominal majoritaire à 1 et 2 tours. Pour chaque candidat, on compte le nombre de fois où celui-ci arrive en tête des votes de chaque votant. Dans un scrutin à un tour, le vainqueur est celui arrivant en tête le plus grand nombre de fois. Dans un scrutin à deux tours, on sélectionne d'abord les deux candidats arrivant en tête le plus grand nombre de fois, puis on répète le décompte entre ces deux candidats restants. Le vainqueur est celui arrivent le plus souvent devant son adversaire.

### Créez une fonction appliquant le scrutin uninominal majoritaire à 1 ou 2 tours, le nombre de tours étant un paramètre de cette fonction

In [35]:
votes.idxmax(axis=1)

votant_0      candidat_4
votant_1      candidat_5
votant_2      candidat_1
votant_3      candidat_1
votant_4      candidat_3
                 ...
votant_995    candidat_1
votant_996    candidat_2
votant_997    candidat_4
votant_998    candidat_5
votant_999    candidat_4
Length: 1000, dtype: object

In [36]:
votes.idxmax(axis=1).value_counts()

candidat_4    211
candidat_3    204
candidat_1    203
candidat_5    191
candidat_2    191
dtype: int64

In [37]:
votes.idxmax(axis=1).value_counts().idxmax()

'candidat_4'

In [42]:
votes.idxmax(axis=1).value_counts().sort_values(ascending=False).index[0:2]

Index(['candidat_4', 'candidat_3'], dtype='object')

In [43]:
votes_final = votes[votes.idxmax(axis=1).value_counts().index[0:2]]

In [44]:
votes_final

            candidat_4  candidat_3
votant_0             9           4
votant_1             2           1
votant_2             0           7
votant_3             2           7
votant_4             0           8
...                ...         ...
votant_995           0           3
votant_996           3           7
votant_997           8           4
votant_998           4           8
votant_999           8           0

[1000 rows x 2 columns]

### Q4 : On s'intéresse maintenant au scrutin par jugement majoritaire. Chaque score attribué par les votants est transformé en mention : "rejeté" pour 0, "très insuffisant" entre 1 et 2, "insuffisant" entre 3 et 4, "passable" entre 5 et 6, "bien" entre 7 et 8, "très bien" entre 9 et 10. On commence par faire le total du nombre d'apparitions de chaque mention pour chaque candidat. On calcule ensuite la mention médiane (ou mention majoritaire) de chaque candidat selon le principe décrit dans cet article : https://fr.wikipedia.org/wiki/Jugement_majoritaire

### Créez une fonction appliquant le scrutin par jugement majoritaire. En cas d'égalité, retournez simplement celui ayant le plus d'électeurs attribuant au moins la mention majoritaire

### Q5 : Créez une classe scrutin s'initialisant avec un fichier de votes et proposant les différents modes scrutins comme méthode